language: node_js
sudo: false
node_js:
  - '6'
  - '8'
  - '10'
env:
  - CXX=g++-4.8 CC=gcc-4.8
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8
      - gcc-4.8
      - libzmq3-dev

script:
  - npm run test
  - npm run jshint
after_success:
  - npm run coveralls
